<META name="keywords" content="scrum, backlog, sprint, user stories, tool, contact">
<section class="contact_data">
  <article id="contact_data">
    <% if @question.errors.any?  %>
    <div id="error_explanation">
      <h2><%= t "errors_occured" %>:</h2>

      <ul>
        <% @question.errors.messages.each do |key, msg| %>
        <li>
          <h3><%= t 'activerecord.attributes.issue.' + key.to_s %></h3>
          <%= msg[0] %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>  
    <h2>Noch Fragen? Her damit!</h2>
    <%= form_for @question do |q| %>
      <div class='field'>
      <%= q.label :betreff %>
      <%= q.text_field :betreff %>
    </div>
    <div class='field'>
      <%= q.label :question %>
      <%= q.text_area :question %></div>
<div class='field'>
      <%= q.label :name %>
      <%= q.text_field :name %></div>
 <div class='field'>
      <%= q.label :email %>
      <%= q.email_field :email %></div>
      <%= q.submit 'Absenden', :class => 'question_submit' %>
       <%= link_to "Zurück zur Hauptseite", index_url%>
    <% end %>
           <p class='question_counter'><%= @question_count %></p>
    </article>
  <span>&nbsp;</span>
</section>
