<%= form_for(@issue) do |f| %>
<% if @issue.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

  <ul>
    <% @issue.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :story_points %>
  <%= f.text_field :story_points %>
</div>
<div class="field">
  <%= f.label :type %>
  <%= f.select :type, @types %>
</div>
<div class="field">
  <%= f.label :project_id %>
  <%= f.select :project_id, @projects %>
</div>
<div class="actions">
  <%= f.submit t('save') %>
</div>
<% end %>
