<%= form_for(@issue) do |f| %>
<% if @issue.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

  <ul>
    <% @issue.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :story_points %>
  <div>
    <% [0, 0.5, 1, 3, 5, 8, 13, 20].each do |number| %>
      <%= image_tag "sp_#{number}.png" %>
    <% end %>
  </div>
</div>
<div class="field">
  <%= f.label :type %>
  <% ['userstory', 'task', 'bug'].each do |type| %>
    <%= image_tag "#{type}.png" %>
  <% end %>
</div>
<div class="field">
  <%= f.label :project_id %>
  <% ['cherokey', 'lisaweb', 'submarine', 'sonstiges'].each do |project| %>
  <%= image_tag "logo_#{project}.png" %>
  <% end %>
</div>
<div class="actions">
  <%= f.submit t('save') %>
</div>
<% end %>
