<%= form_for(@issue) do |f| %>
<% if @issue.errors.any? %>
<div id="error_explanation">
  <h2><%= t "errors_occured" %>:</h2>

  <ul>
    <% @issue.errors.messages.each do |key, msg| %>
    <li>
      <h3><%= t 'activerecord.attributes.issue.' + key.to_s %></h3>
      <%= msg[0] %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field sp_radio_images image_select">
  <%= f.label :story_points %>
  <div>
    <% @story_points.each do |number| %>
      <div class="radio_image sp_<%= number.to_s.gsub(".", "_") %>" data-sp-value="<%= number %>">
        <img src="<%= image_path "sp_#{number}_light.png" %>"
             data-img_heavy="<%= image_path "sp_#{number}_heavy.png" %>"
             data-img_light="<%= image_path "sp_#{number}_light.png" %>">
      </div>
    <% end %>
    <%= f.hidden_field :story_points, :value => (@issue.story_points ? @issue.formatted_story_points : @story_points[0]) %>
  </div>
</div>
<div class="field type_radio_images image_select">
  <%= f.label :type %>
  <% @types.each do |type| %>
    <div class="radio_image <%= type.downcase %>" data-type="<%= type %>">
      <img src="<%= image_path "#{type.downcase}_light.png" %>"
           data-img_heavy="<%= image_path "#{type.downcase}_heavy.png" %>"
           data-img_light="<%= image_path "#{type.downcase}_light.png" %>">
    </div>
  <% end %>
    <%= f.hidden_field :type, :value => (@issue.type ? @issue.type : @types[0]) %>
</div>
<div class="field project_radio_images image_select">
  <%= f.label :project_id %>
  <% @projects.each do |project| %>
  <div class="radio_image <%= project[0].downcase %>" data-project-id="<%= project[1] %>">
    <img src="<%= image_path "logo_#{project[0].downcase}_light.png" %>"
         data-img_heavy="<%= image_path "logo_#{project[0].downcase}_heavy.png" %>"
         data-img_light="<%= image_path "logo_#{project[0].downcase}_light.png" %>">
  </div>
  <% end %>
  <%= f.hidden_field :project_id, :value => (@issue.project_id ? @issue.project_id : @projects[0][1]) %>
</div>
<div class="actions">
  <%= image_submit_tag "btn_save.png" %>
  <%= link_to issues_path, class: "button finish_edit" do %>
    <%= image_tag "btn_cancel.png" %> 
  <% end %>
</div>
<% end %>
<script>
  $("a.finish_edit").bind('click', SUBMARINE.lock.set_lock_time_to_default);
</script>
