<ul class="list_header <%= @lists_locked_by_current_user ? "locked_list_header" : "unlocked_list_header" %>">
  <% case list_type %>
  <% when 'sprint_backlog' %>
    <li>Sprint Backlog</li>
    <li id="story_points_sum">
      <span></span>
      <%= image_tag "sp_sum_0.5_heavy.png", :id => "half_story_point" %>
      <%= image_tag "sp_0.5_heavy.png", :id => "half_story_point_small" %>
    </li>
    <li id="show_finish_issues">
      <%= link_to finished_issues_path, :title => t('finished_issues') do %>
        <%= image_tag "show_finished_issues.png" %>
      <% end %>
    </li>
  <% when 'backlog' %>
    <li>Backlog</li>
    <li id="btn_in_header">
      <%= link_to new_issue_path, :title => t('issue.new') do %>
        <%= image_tag("new.png") %>
      <% end %>
    </li>
  <% when 'finished_issues' %>
    <li><%= t 'finished_issues' %></li>
    <li id="btn_in_header">
      <%= link_to issues_path, :title => t('backlog') do %>
        <%= image_tag("show_backlogs.png") %>
      <% end %>
    </li>
  <% end %>
</ul>
<ul id="<%= list_type %>_list" class="connectedSortable">
  <% list_items.each do |issue| %>
	<li data-id="<%= issue.id %>" id="#<%= issue.id %>" data-story_points="<%= issue.formatted_story_points %>">
    <div class="issue_line">
      <div class="project_logo"><%= image_tag("logo_#{issue.project.name.downcase}_heavy.png") if issue.project %></div>
      <div class="issue_name"><%= issue.name %></div>
      <div class="issue_id">#<%= issue.id %></div>
      <div class="issue_type"><%= image_tag("#{issue.type.downcase}_heavy.png") %></div>
      <div class="issue_story_points"><%= image_tag("sp_#{issue.formatted_story_points}_heavy.png", :size => "22x22") if issue.story_points %>&nbsp;</div>
      &nbsp;
    </div>
    <div class="issue_line">
      <div class="description short"><%= issue.description %></div>
      <div class="controls_container <%="sprint_controls" if list_type == 'sprint_backlog' %>">
      <div class="controls">
        <% unless list_type == 'finished_issues' %>
          <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
          <%= image_tag("edit.png") %>
          <% end %>
          <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
          <%= image_tag("delete.png") %>
          <% end %>
          <%= link_to finish_issue_path(issue), :method => :post, :class => (list_type == 'sprint_backlog' ? 'finish_button' : 'finish_button finish'), :title => t('issue.finish') do %>
          <%= image_tag("finish_issue.png") %>
          <% end %>
        <% else %>
          <%= link_to activate_issue_path(issue), :method => :post, :class => 'button', :title => t('issue.activate') do %>
          <%= image_tag("activate_issue.png") %>
          <% end %>  
        <% end %>
      </div>
      </div>
      &nbsp;
    </div>
  </li>
  <% end %>
</ul>
