<ul class="list_header">
  <li><%= list_title %></li>
  <% if show_new_btn %>
  <li class="btn_in_header">
    <%= link_to new_issue_path do %>
      <%= image_tag("new.png") %>
    <% end %>
  </li>
  <% end %>
</ul>
<ul id="<%= list_id %>" class="connectedSortable">
  <% list_items.each do |issue| %>
	<li data-id="<%= issue.id %>" id="#<%= issue.id %>">
    <div class="issue_line">
      <div><%= issue.project.name if issue.project %></div>
      <div><%= issue.name %></div>
      <div class="issue_id">#<%= issue.id %></div>
      <div class="issue_type"><%= issue.type %></div>
      &nbsp;
    </div>
    <div class="issue_line">
      <div class="issue_story_points"><%= issue.formatted_story_points %>&nbsp;</div>
      <div class="description short"><%= issue.description %></div>
      <div class="controls_container">
      <div class="controls">
          <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
          <%= image_tag("edit.png") %>
          <% end %>
          <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
          <%= image_tag("delete.png") %>
          <% end %>
      </div>
      </div>
      &nbsp;
    </div>
  </li>
  <% end %>
</ul>

