<div>
    <span class="issue_id"><%= t 'activerecord.attributes.issue.id' %></span>
    <span class="issue_type"><%= t 'activerecord.attributes.issue.type' %></span>
    <span class="issue_project_name"><%= t 'activerecord.attributes.issue.project_id' %></span>
    <span class="issue_name"><%= t 'activerecord.attributes.issue.name' %></span>
    <span class="controls">&nbsp;</span>
    <span class="issue_story_points"><%= t 'activerecord.attributes.issue.story_points' %></span>
</div>
<ul id="<%= list_id %>" class="connectedSortable">
  <% list_items.each do |issue| %>
	<li data-id="<%= issue.id %>" id="#<%= issue.id %>">
    <span class="issue_id">#<%= issue.id %></span>
    <span class="issue_type"><%= issue.type %></span>
    <span class="issue_project_name"><%= issue.project.name if issue.project %></span>
    <span class="issue_name"><%= issue.name %></span>
    <span class="controls">
        <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
        <%= image_tag("pencil.png") %>
        <% end %>
        <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
        <%= image_tag("cross.png") %>
        <% end %>
    </span> 
    <span class="issue_story_points"><%= issue.formatted_story_points %></span>
    <div class="description short"><%= issue.description %></div>
  </li>
  <% end %>
</ul>

