<ul class="list_header">
  <% if is_sprint %>
    <li>Sprint Backlog</li>
    <li id="story_points_sum"></li>
  <% else %>
    <li>Backlog</li>
    <li id="btn_in_header">
      <%= link_to new_issue_path do %>
        <%= image_tag("new.png") %>
      <% end %>
    </li>
  <% end %>
</ul>
<ul id="<%= is_sprint ? 'sprint_backlog_list' : 'backlog_list' %>" class="connectedSortable">
  <% list_items.each do |issue| %>
	<li data-id="<%= issue.id %>" id="#<%= issue.id %>" data-story_points="<%= issue.formatted_story_points %>">
    <div class="issue_line">
      <div class="project_logo"><%= image_tag("logo_#{issue.project.name.downcase}.png") if issue.project %></div>
      <div class="issue_name"><%= issue.name %></div>
      <div class="issue_id">#<%= issue.id %></div>
      <div class="issue_type"><%= image_tag("#{issue.type.downcase}.png") %></div>
      <div class="issue_story_points"><%= image_tag("sp_#{issue.formatted_story_points}.png", :size => "40x39") if issue.story_points %>&nbsp;</div>
      &nbsp;
    </div>
    <div class="issue_line">
      <div class="description short"><%= issue.description %></div>
      <div class="controls_container">
      <div class="controls">
          <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
          <%= image_tag("edit.png") %>
          <% end %>
          <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
          <%= image_tag("delete.png") %>
          <% end %>
      </div>
      </div>
      &nbsp;
    </div>
  </li>
  <% end %>
</ul>

