<article class="log" id="<%= list_type %>">

  <ul class="list_header">

<% case list_type %>
<% when 'sprint_backlog' %>
  <li>Sprint Backlog</li>
  <li id="story_points_sum" class="no_js">
  <span></span>
  <%= image_tag "sp_sum_0.5_heavy.png", :id => "half_story_point" %>
  <%= image_tag "sp_0.5_heavy.png", :id => "half_story_point_small" %>
  </li>
<% when 'backlog' %>
  <li>Backlog</li>
  <li id="btn_in_header">
  <%= link_to new_issue_path, :class => "edit_issue", :title => t('issue.new') do %>
    <%= image_tag("new.png") %>
  <% end %>
  </li>
<% when 'finished_issues' %>
  <li><%= t 'finished_issues' %></li>
  <li id="btn_in_header">
  <%= link_to issues_path, :title => t('backlogs') do %>
    <%= image_tag("show_backlogs.png") %>
  <% end %>
  </li>
<% end %>
  </ul>

  <ul id="<%= list_type %>_list" class="connectedSortable">
    <% list_items.each do |item| %>
      <li data-id="<%= item.id %>" id="#<%= item.id %>" data-story_points="<%= item.formatted_story_points %>" data-lock-version="<%= item.lock_version %>">
        <div class="controls_container <%="sprint_controls" if list_type == 'sprint_backlog' %>">
          <div class="controls">
            <% unless list_type == 'finished_issues' %>
              <%= link_to edit_issue_path(item), :class => "edit_issue", :title => t('issue.edit') do %>
                <%= image_tag("edit.png") %>
              <% end %>
              <%= link_to finish_issue_path(item), :method => :post, :class => (list_type == 'sprint_backlog' ? 'finish_button' : 'finish_button finish'), :title => t('issue.finish') do %>
                <%= image_tag("finish_issue.png") %>
              <% end %>
              <%= link_to item, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
                <%= image_tag("delete.png") %>
              <% end %>
            <% else %>
              <%= link_to activate_issue_path(item), :method => :post, :class => 'button', :title => t('issue.activate') do %>
                <%= image_tag("activate_issue.png") %>
              <% end %>  
            <% end %>
          </div>
        </div>
        <div class="issue_line">
          <div class="project_logo"><%= image_tag("logo_#{item.project.name.downcase}_heavy.png") if item.project %></div>
          <div class="issue_name"><%= item.name %></div>
          <div class="issue_id">#<%= item.id %></div>
          <div class="issue_type"><%= image_tag("#{item.type.downcase}_heavy.png") %></div>
          <div class="issue_story_points"><%= image_tag("sp_#{item.formatted_story_points}_heavy.png", :size => "22x22") if item.story_points %>&nbsp;</div>
          &nbsp;
        </div>
        <div class="issue_line">
          <div class="description short"><%= simple_format(item.description) %></div>
          &nbsp;
        </div>
      </li>
    <% end %>
  </ul>
</article>
