<META name="keywords" content="scrum, backlog, sprint, user stories, tool">
<META name="description" content="Sie wollen ein virtuelles Backlog, das mehrere Projekte unterstützt? Dann probieren Sie es mit submarine. Eine kostenlose Online-Demo steht Ihnen hier zur Verfügung.">
<section id="main">

<% feature_active? :temp_lock_lists do %>
  <%= form_tag toggle_list_locks_path, :method => :post, :remote => true do %>
    <% if @lists_locked_by_current_user %>
      <%= submit_tag I18n.t("backlog.finish_editing"), :id => "lock_btn" %>
    <% else %>
      <%= submit_tag I18n.t("backlog.edit"), :id => "lock_btn" %>
    <% end %>
    <span id="lock_timeout"></span>
    <% if @lists_locked_by_another_user %>
      <span id="lock_hint"><%= I18n.t "backlog.locked_by_another_user_hint" %></span>
    <% end %>
  <% end %>

  <%= form_tag extend_lock_time_path, :method => :post, :remote => true do %>
    <%= submit_tag I18n.t("backlog.extend_lock_time"), :id => 'extend_btn', :class => 'hidden'%>
  <% end %>
<% end %>

<article class="log" id="backlog">
<%= render :partial => "list", :locals => {:list_type => 'backlog', :list_items => @backlog_issues} %>
</article>

<article class="log" id="sprint">
<%= render :partial => "list", :locals => {:list_type => 'sprint_backlog', :list_items => @sprint_issues} %>
</article>

</section>

<script>
  $(function() {
    <% if feature_active? :temp_lock_lists %>
      <% if @lists_locked_by_current_user %>
        SUBMARINE.lock.revive_timeout();
        SUBMARINE.lock.enable_lock_bindings();
      <% else %>
        $("#sprint_backlog_list, #backlog_list").disableSelection();
      <% end %>
      SUBMARINE.showStoryPointsSum();
      $("ul > li > div > div.description").bind("click", SUBMARINE.toggleDescription);
    <% else %>
      $("#sprint_backlog_list, #backlog_list").sortable({
        connectWith: ".connectedSortable",
        start: function(event,ui){
          $(ui.item).addClass("dragging");
        },
        stop: SUBMARINE.changeListHandler,
      }).disableSelection();
      SUBMARINE.showStoryPointsSum();
      $("ul > li > div > div.description").bind("click", SUBMARINE.toggleDescription);
      $("ul.connectedSortable > li").mouseenter(SUBMARINE.showControls).mouseleave(SUBMARINE.hideControls);
    <% end %>
  });
  SUBMARINE.changeListURL = "<%= change_list_path %>";
  SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

