<h2>Backlog</h2>

<%= link_to new_issue_path, :class => :button do %>
<%= image_tag("add.png") %> <%= t 'issue.new' %>
<% end %>

<br>

<table>
  <tr>
    <th><%= t 'activerecord.attributes.issue.id' %></th>
    <th><%= t 'activerecord.attributes.issue.type' %></th>
    <th><%= t 'activerecord.attributes.issue.project_id' %></th>
    <th><%= t 'activerecord.attributes.issue.name' %></th>
    <th><%= t 'activerecord.attributes.issue.story_points' %></th>
    <th></th>
  </tr>

  <% @issues.each do |issue| %>
  <tr>
    <td>#<%= issue.id %></td>
    <td><%= issue.type %></td>
    <td><%= issue.project.name %></td>
    <td><%= issue.name %></td>
    <td><%= issue.formatted_story_points %></td>
    <td>
      <%= link_to edit_issue_path(issue) do %>
      <%= image_tag("pencil.png") %>
      <% end %>
    </td>
  </tr>
  <tr class="description">
    <td></td>
    <td colspan="5"><%= issue.description %></td>
  </tr>
  <% end %>
</table>
