<%= link_to new_issue_path, :class => :button do %>
<%= image_tag("add.png") %> <%= t 'issue.new' %>
<% end %>

<br>
<div id="wrapper">
<section id="backlog">
<h2>Backlog</h2>
<div>
    <span><%= t 'activerecord.attributes.issue.id' %></span>
    <span><%= t 'activerecord.attributes.issue.type' %></span>
    <span><%= t 'activerecord.attributes.issue.project_id' %></span>
    <span><%= t 'activerecord.attributes.issue.name' %></span>
    <span><%= t 'activerecord.attributes.issue.story_points' %></span>
    <span></span>
</div>
<ul id="sortable1" class="connectedSortable">
  <% @backlog_issues.each do |issue| %>
	<li data-id="<%= issue.id %>" id="#<%= issue.id %>">
    <span>#<%= issue.id %></span>
    <span><%= issue.type %></span>
    <span><%= issue.project.name if issue.project %></span>
    <span><%= issue.name %></span>
    <span class="story_points"><%= issue.formatted_story_points %></span>
      <span>
        <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
        <%= image_tag("pencil.png") %>
        <% end %>
        <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
        <%= image_tag("cross.png") %>
        <% end %>
      </span>
  </li>
  <% end %>
</ul>
</section>
<section id="sprint">
<h2>Sprint Backlog</h2>
<div>
    <span><%= t 'activerecord.attributes.issue.id' %></span>
    <span><%= t 'activerecord.attributes.issue.type' %></span>
    <span><%= t 'activerecord.attributes.issue.project_id' %></span>
    <span><%= t 'activerecord.attributes.issue.name' %></span>
    <span><%= t 'activerecord.attributes.issue.story_points' %></span>
    <span></span>
</div>
<ul id="sortable2" class="connectedSortable">
  <% @sprint_issues.each do |issue| %>
  <li data-id="<%= issue.id %>" id="#<%= issue.id %>">
    <span>#<%= issue.id %></span>
    <span><%= issue.type %></span>
    <span><%= issue.project.name if issue.project %></span>
    <span><%= issue.name %></span>
    <span class="story_points"><%= issue.formatted_story_points %></span>
      <span>
        <%= link_to edit_issue_path(issue), :title => t('issue.edit') do %>
        <%= image_tag("pencil.png") %>
        <% end %>
        <%= link_to issue, :method => :delete, :class => 'button', :title => t('issue.delete') do %>
        <%= image_tag("cross.png") %>
        <% end %>
      </span>
  </li>
  <% end %>
</ul>
</section>
</div>

<script>
	$(function() {
		$("#sortable1, #sortable2").sortable({
			connectWith: ".connectedSortable",
      update: SUBMARINE.changeOrderHandler
		}).disableSelection();
	});
SUBMARINE.changeOrderURL = "<%= change_order_path %>";
SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

