<META name="keywords" content="scrum, backlog, sprint, user stories, tool">
<META name="description" content="Sie wollen ein virtuelles Backlog, das mehrere Projekte unterstützt? Dann probieren Sie es mit submarine. Eine kostenlose Online-Demo steht Ihnen hier zur Verfügung.">

<section id="main">

<%= render :partial => "list", :locals => {:list_type => 'backlog', :list_items => @backlog_issues} %>

<%= render :partial => "list", :locals => {:list_type => 'sprint_backlog', :list_items => @sprint_issues} %>

</section>

<div id="refresh-dialog" class="no-js" title="<%= t 'notification' %>">
  <%= t 'issue.errors.data_staled' %>
</div>

<script>
  $(function() {
    $('.no_js').removeClass('no_js');
    $("#sprint_backlog_list, #backlog_list").sortable({
  		connectWith: ".connectedSortable",
  		start: function(event,ui){
  			$(ui.item).addClass("dragging");
  		},
  		stop: SUBMARINE.changeListHandler,
    }).disableSelection();
    SUBMARINE.showStoryPointsSum();
    $("ul > li > div > div.description").bind("click", SUBMARINE.toggleDescription);
    $("ul.connectedSortable > li").mouseenter(SUBMARINE.showControls).mouseleave(SUBMARINE.hideControls);
    
    $("#refresh-dialog").dialog({ 
      autoOpen: false,
      closeText: '',
      modal: true,
      resizeable: false,
      dragable: false,
      minHeight: null,
      buttons: {
        OK: function() {
          location.reload();
        }
      },
      close: function(event, ui) { location.reload(); }
    });

  });
  SUBMARINE.changeListURL = "<%= change_list_path %>";
</script>
