<%= link_to new_issue_path, :class => :button do %>
<%= image_tag("add.png") %> <%= t 'issue.new' %>
<% end %>

<br>
<div id="wrapper">
<section id="backlog">
<h2>Backlog</h2>
<%= render :partial => "list", :locals => {:list_id => "backlog_list", :list_items => @backlog_issues} %>
</section>

<section id="sprint">
<h2>Sprint Backlog</h2>
<%= render :partial => "list", :locals => {:list_id => "sprint_backlog_list", :list_items => @sprint_issues} %>
</section>
</div>
<script>
	$(function() {
		$("#sprint_backlog_list, #backlog_list").sortable({
			connectWith: ".connectedSortable",
      start: function(event,ui){
        $(ui.item).addClass("dragging");
      },
      stop: SUBMARINE.changeListHandler,
		}).disableSelection();
  });
SUBMARINE.changeListURL = "<%= change_list_path %>";
SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

