<META name="keywords" content="scrum, backlog, sprint, user stories, tool">
<META name="description" content="Sie wollen ein virtuelles Backlog, das mehrere Projekte unterstützt? Dann probieren Sie es mit submarine. Eine kostenlose Online-Demo steht Ihnen hier zur Verfügung.">
<section id="main">

<% feature_active? :temp_lock_lists do %>
  <%= form_tag lock_lists_path, :method => :post, :remote => true do %>
    <%= hidden_field_tag "lock_lists", true %>
    <%= submit_tag "Bearbeiten", :id => "lock_btn" %>
  <% end %>
<% end %>

<article class="log" id="backlog">
	<%= render :partial => "list", :locals => {:list_type => 'backlog', :list_items => @backlog_issues} %>
</article>

<article class="log" id="sprint">
	<%= render :partial => "list", :locals => {:list_type => 'sprint_backlog', :list_items => @sprint_issues} %>
</article>

</section>

<script>
$(function() {
	$("#sprint_backlog_list, #backlog_list").sortable({
		connectWith: ".connectedSortable",
		start: function(event,ui){
			$(ui.item).addClass("dragging");
		},
		stop: SUBMARINE.changeListHandler,
	}).disableSelection();
	SUBMARINE.showStoryPointsSum();
	$("ul > li > div > div.description").bind("click", SUBMARINE.toggleDescription);
	$("ul.connectedSortable > li").mouseenter(SUBMARINE.showControls).mouseleave(SUBMARINE.hideControls);
});
SUBMARINE.changeListURL = "<%= change_list_path %>";
SUBMARINE.messages.save_failed = '<%= t 'issue.save_failed' %>';
</script>

