<!DOCTYPE html>
<html>

<head>
  <title>Submarine</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="msvalidate.01" content="EC7C55357265A423945004A6731B561E" />
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>

<header>
  <div class="center">
    <div class="menu-left">
      <%= link_to index_path do %>
        <%= image_tag "logo.png", :id => "logo" %>
      <% end %>
    </div>
    
    <div class="menu-right">  
      <div class="stack">        
        <div class="wrapper">
          <div class="content">
            <div id="navigation">
              <%= render_navigation :renderer => :links %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-center">
      <% feature_active? :persist_present_demo do %>
        <h1>Demo</h1>
      <% end %>
    </div>
  </div>
  <noscript>
    <p>Bitte aktivieren Sie JavaScript, um die volle Funktionalität von submarine verwenden zu können.</p>
  </noscript>


</header>

<div id="page-content">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash#{name}" %>
  <% end %>
  <%= yield %>
</div>

<%= render :partial => "layouts/footer" %>

</body>
</html>
