<!DOCTYPE html>
<% if feature_active?(:temp_lock_lists) and @lists_locked_by_current_user %>
  <html class="locked_html">
<% else %>
  <html>
<% end %>

<head>
  <title>Submarine</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>

<header>
  <div>
    <div id="menu-left">
      <%= link_to index_path do %>
        <%= image_tag "logo.png", :id => "logo" %>
      <% end %>
    </div>
    <div id="menu-right">
      <% feature_active? :persist_present_demo do %>
        <span class="back"><%= link_to "Hauptseite", index_path %></span>
      <% end %>
    </div>
    <div id="menu-center">
      <% feature_active? :persist_present_demo do %>
        <h1>Demo</h1>
      <% end %>
    </div>
  </div>
  
  <% feature_active? :persist_present_demo do %>
    <%= yield :menu %>
  <% end %>
</header>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash#{name}" %>
<% end %>
<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
