<!DOCTYPE html>
<html>
<head>
  <title>Submarine</title>
  <%= stylesheet_link_tag "navigation", "questions" %>
  <%= javascript_include_tag "navigation" %>
  <%= csrf_meta_tags %>
  <meta name="msvalidate.01" content="EC7C55357265A423945004A6731B561E" />
  <link rel="shortcut icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<header>
  <div class="center">
    <div class="menu-left">
      <%= link_to index_path do %>
        <%= image_tag "logo.png", :id => "logo" %>
      <% end %>
    </div>

    <div class="menu-right">  
      <div class="stack">        
        <div class="wrapper">
          <div class="content">
            <div id="navigation">
              <%= feature_active? :presentation { link_to "Startseite", index_url, id: "landingpage" } %>
              <%= link_to "Backlogs (#{@backlog_count}/#{@sprintbacklog_count})", issues_url, id: "backlogs" %>
              <%= link_to "Abgeschlossene Einträge (#{@finished_issues_count})", finished_issues_url, id: "finished_issues" %>
            </div>
            <%= yield :menu %>
          </div>
        </div>
      </div>
   </div>
  </div>
</header>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash#{name}" %>
<% end %>
<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
