<!DOCTYPE html>
<html>
<head>
  <title>Submarine</title>
  <%= stylesheet_link_tag "navigation", "questions" %>
  <%= javascript_include_tag "navigation" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<header>
  <div class="center">
    <div class="menu-left">
      <%= link_to index_path do %>
        <%= image_tag "logo.png", :id => "logo" %>
      <% end %>
    </div>
  </div>
</header>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash#{name}" %>
<% end %>
<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
