<!DOCTYPE html>
<html>
<head>
  <title>Submarine</title>
  <%= stylesheet_link_tag "navigation", "questions" %>
  <%= javascript_include_tag "navigation" %>
  <%= csrf_meta_tags %>
  <meta name="msvalidate.01" content="EC7C55357265A423945004A6731B561E" />
  <link rel="shortcut icon" href="favicon.ico" />

</head>

<body>

<header>
  <%= link_to index_path do %>
    <%= image_tag "logo.png", :id => "logo" %>
  <% end %>
</header>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, id: "flash#{name}" %>
<% end %>
<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
